@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

nav {
    display: flex;
    align-items: center;
    background-color: #3E92CC;
    height: 80px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar h1 {
    color: #FFFAFF;
}

.main-content {
    height: auto;
}

.content {
    padding-block: 64px;
    display: flex;
    flex-direction: column-reverse;
    gap: 64px;
}

aside {
    background-color: #3E92CC;
    padding: 24px;
    border-radius: 12px;
}

.input-field {
    display: grid;
    margin-bottom: 24px;
}

input, select {
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 12px;
    border-radius: 9px;
    font-size: 16px;
}

input:focus-visible, select:focus-visible {
    border: none;
    outline: none;
}

label {
    color: #FFFAFF;
    font-size: 18px;
    text-transform: uppercase;
}

button {
    width: 100%;
    border-radius: 9px;
    border: none;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 9px;
    font-size: 16px;
    color: #3E92CC;
    background-color: #ffffff;
    cursor: pointer;
}

h2 {
    font-size: 32px;
}

.finance-list {
    padding: 0;
}

.finance-list li {
    list-style: none;
    padding: 24px;
    font-size: 22px;
    background-color: #3E92CC;
    color: #FFFAFF;
    border-radius: 12px;
    margin-bottom: 12px;
}

li h4 {
  text-transform: uppercase;
  margin-bottom: 12px;
}

@media screen and (min-width: 750px) {
  .main-content {
    height: calc(100vh - 80px);
  }

  .content {
      padding-block: 64px;
      display: grid;
      grid-template-columns: 30% 1fr;
      gap: 64px;
  }

  aside {
      background-color: #3E92CC;
      padding: 24px;
      border-radius: 12px;
  }
}